html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-init{
  display: flex;
}

.wrapper{
  font-family: serif;
}
.wrapper .cover h1{
  font-family: Cardo,serif;
}
.wrapper .wrapper-header{
  height: 22px;
  background: url('/bg_head.jpg') left top repeat-x;
  width: 100%;
}

.wrapper .miro-button{
  border: 1px solid #c39c5a;
  font-family: Cardo,serif;
}
.wrapper .miro-button:hover,
.wrapper .miro-button:focus{
  border-color: #c39c5a;
  outline: 0;
  box-shadow: 0 0 6px 2px #c39c5a42;
}
.wrapper .miro-input:hover,
.wrapper .miro-input:focus{
  border-color: #c39c5a;
  outline: 0;
  box-shadow: 0 0 6px 2px #c39c5a42;
}
